<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input id="fullName" name="fullName" [(ngModel)]="fullName" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" [(ngModel)]="email" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="contact" name="contact" value="Email"> Email
          </label>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="contact" name="contact" value="Phone"> Phone
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="gender" name="gender" value="male"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="gender" name="gender" value="female"> Female
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="isActive"> Is Active
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="department">
          Department
        </label>
        <select id="department" class="form-control" name="department" [(ngModel)]="department">
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{dept.name}}
          </option>>
        </select>
      </div>

      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" type="text" bsDatepicker class="form-control" [bsConfig]="datePickerConfig"
            placement="right">
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

{{employeeForm.value | json}}
